/*Background animation*/
* { /* reset margins and paddings on all elements */
    margin: 0;
    padding: 0;
}

body::before {
    content: ""; /* required for ::before */
    position: fixed; /* don't scroll with page */
    z-index: -100; /* place behind elements on page */
    width: 100%;
    height: 100%;
    background-color: #FF6BAD;
    background-image: radial-gradient(circle farthest-side at top right, transparent, #F5D909), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
    animation: bg-change 10s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(-45deg);
    }
}

body {
    font-family: 'Press Start 2P', system-ui;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b {
    position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
    font-family: 'Press Start 2P', system-ui;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    border: solid !important;
}


.headline {
    font-family: 'Press Start 2P', system-ui;
    font-size: 21px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
    text-shadow: 1px 2px 2px rgb(0,0,0);
    text-align: center;
}

.browser-window {
    width: 700px;
    height: auto;
    border: 3px solid #000;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
  }

  .window-header {
    display: flex;
    justify-content: start;
    padding: 5px;
  }

  .window-header .circle {
    height: 12px;
    width: 12px;
    border-radius: 10%;
    margin-right: 4px;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: rgb(29, 213, 99);
  }

  .address-bar {
    background-color: #ddd;
    border: none;
    padding: 4px;
    margin-top: 4px;
  }

  .content-area {
    height: 400px;
  }

  .subtitle {
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
  }

