* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', system-ui;
    background-color: #000;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding-top: 20px;
}

.logo-img {
    width: 100%;
    max-width: 750px;
}

.icon-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* This ensures the icons do not wrap */
}

.icon-img {
    width: 150px; /* width is already defined */
    margin: 0 5px; /* Add a little space between icons */
    flex: 0 0 auto; /* Don't grow, don't shrink, and don't base size on content */
}

.btn {
    font-family: 'Press Start 2P', system-ui;
    color: black;
    padding: 15px 25px;
    border-radius: 12px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: solid !important;
    transition: background-color 0.3s ease;
}


.headline {
    font-family: 'Press Start 2P', system-ui;
    font-size: 21px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
    text-shadow: 1px 2px 2px rgb(0,0,0);
}

.browser-window {
    width: 700px;
    height: auto;
    border: 3px solid #000;
    border-radius: 2px;
    padding: 5px;
    margin: 10px auto;
}

  .window-header {
    display: flex;
    justify-content: start;
    padding: 5px;
  }

  .window-header .circle {
    height: 12px;
    width: 12px;
    border-radius: 10%;
    margin-right: 4px;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: rgb(29, 213, 99);
  }

  .address-bar {
    background-color: #ddd;
    border: none;
    padding: 4px;
    margin-top: 4px;
  }

.content-area {
    padding: 20px;
}

.bg-white {
    background-color: #fff;
}

.bg-pink {
    background-color: #fcd2d0;
}


.bg-yellow {
    background-color: #fef38b;
}

  .subtitle {
    font-family: 'Press Start 2P', system-ui;
    padding: 15px 15px;
    font-size: 16px;
    margin: 4px 2px;
  }

.txt {
    font-family: 'Press Start 2P', system-ui;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
}

.custom-input {
    border: solid black !important;
    margin-bottom: 15px; /* Space between input fields */
}

.copyright-footer {
    font-family: 'Press Start 2P', system-ui;
    font-size: x-small;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FBEE8F;
    border-radius: 10px;
    border: solid;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #F5D909;
    }


.navbar-txt {
    font-family: 'Press Start 2P', system-ui;
    font-size: 21px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 2px rgb(0,0,0);
}

.bg-color {
    background-color: #FF6BAD;
    background-image: radial-gradient(circle farthest-side at top right, transparent, #F5D909), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
    animation: bg-change 10s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(-45deg);
    }
}

