
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Press Start 2P', system-ui;
    height: 100%; /* Ensure the full height of the page is used */
    display: flex; /* Establish flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.btn {
    font-family: 'Press Start 2P', system-ui;
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 12px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: solid !important;
    transition: background-color 0.3s ease;
}


.headline {
    font-family: 'Press Start 2P', system-ui;
    font-size: 25px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 2px rgb(0,0,0);
}

.custom-input {
    border: solid black !important;
    margin-bottom: 15px; /* Space between input fields */
}

.forgot-pass {
    color: black;
}

.txt {
    font-family: 'Press Start 2P', system-ui;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 15px 15px;
    font-size: 16px;
    margin: 4px 2px;
}


.input-group-text {
    background-color: slategray;
    color: black;
    font-family: 'Press Start 2P', system-ui;
    padding: 0.375rem 0.75rem; 
}


.browser-window {
    width: 500px;
    height: auto;
    border: 3px solid #000;
    border-radius: 2px;
    padding: 5px;
    margin: 10px auto;
}

.window-header {
    display: flex;
    justify-content: start;
    padding: 5px;
}

    .window-header .circle {
        height: 12px;
        width: 12px;
        border-radius: 10%;
        margin-right: 4px;
    }

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(29, 213, 99);
}

.address-bar {
    background-color: #ddd;
    border: none;
    padding: 4px;
    margin-top: 4px;
}

.content-area {
    padding: 20px;
}

.navbar-txt {
    font-family: 'Press Start 2P', system-ui;
    font-size: 21px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 2px rgb(0,0,0);
}

.navbar-position {
    position: fixed; /* Fix the navbar's position relative to the viewport */
    top: 0; /* Align the top edge of the navbar with the top edge of the viewport */
    left: 0;
    right: 0;
    width: 100%; /* Make the navbar extend full width of the viewport */
    padding: 10px 0; /* Add some padding for aesthetics */
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Optional: Adds shadow for better visibility over page content */
}

.bg-color {
    background-color: #FF6BAD;
    background-image: radial-gradient(circle farthest-side at top right, transparent, #F5D909), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
    animation: bg-change 10s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(-45deg);
    }
}