/*Background animation*/
* { /* reset margins and paddings on all elements */
    margin: 0;
    padding: 0;
}

body::before {
    content: ""; /* required for ::before */
    position: fixed; /* don't scroll with page */
    z-index: -100; /* place behind elements on page */
    width: 100%;
    height: 100%;
    background-color: #F5C30A;
    background-image: linear-gradient(to right, #FF6BAD 0%, #F5D909 49%, #FF6BAD 100%);
    animation: bg-change 5s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(-45deg);
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
    font-family: 'Press Start 2P', system-ui;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    border: solid !important;
}


.headline {
    font-family: 'Press Start 2P', system-ui;
    font-size: 25px;
    color: black;
}

.txt {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}

