

body {
    font-family: "Press Start 2P", system-ui !important;
}

.content {
    border-style: solid;
    height: auto;
}


.btn {
    font-family: 'Press Start 2P', system-ui;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: solid !important;
    top: 30px;
    position: relative;
}



* { 
    margin: 0px; 
    padding: 0px; 
}

body {
    background-color: #F5D909;
    background-image: linear-gradient(355deg, #F5D909 0%, #FF6BAD 74%);
}

ul li {
    list-style: none; 
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FF53A0 !important; 
    z-index: 1000000000;
    opacity: 1; 
    overflow: hidden; 
    text-align: center; 
}

div.one {
    width: 8vmax; 
    height: 8vmax; 
    border-right: 4px solid white; 
    border-radius: 100%; 
    animation: spinRight 800ms linear infinite; 
}

    div.one:before,
    div.one:after {
        content: '';
        width: 6vmax;
        height: 6vmax;
        display: block;
        position: absolute;
        top: calc(50% - 3vmax);
        left: calc(50% - 3vmax);
        border-left: 3px solid #F5D909;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
    }

    div.one:after {
        width: 4vmax;
        height: 4vmax;
        top: calc(50% - 2vmax);
        left: calc(50% - 2vmax);
        border: 0;
        border-right: 2px solid #FF6BAD;
        animation: none;
    }

@keyframes spinRight{
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); 
    }
}

.center{
    left: 50%;
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.start ul li:nth-child(1) {
    background: url(../images/process-top.png) top no-repeat !important; 
    padding-top: 180px !important; 
}

.start ul li:nth-child(odd) {
    background: url(../images/process-line-3.png) 65px top no-repeat;
    padding-top: 100px !important;
}

.start ul li:nth-child(even) {
    background: url(../images/process-line-2.png) 65px top no-repeat;
    padding-left: 590px; 
    padding-top: 100px !important;
}

.start ul li .icon {
    margin: 30px 0; 
    display: inline-block; 
    height: 124px; 
    margin-right: 30px;
    width: 124px;
    text-align: center; 
}

.start ul li h4 {
    color: white; 
    text-transform: uppercase;
    font-size: 25px; 
}

.start ul li .media-body {
    max-width: 390px; 
}

.start ul li p {
    color: white; 
}



img {
    width: 170px;
    height: 170px;
    margin-left: -30px;
    margin-top: -20px;
    border: black 3px;
    border-radius:50%;
}

.two img { 
    margin-left: -50px; 
    margin-top: -20px; 
}

.three img { 
    margin-left: -50px; 
}

.four img { 
    margin-left: -50px; 
}

.five img { 
    margin-left: -20px; 
    margin-top: -20px; 
}

.heading {
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 2px rgb(0,0,0);
}



/* Customize Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FBEE8F;
    border-radius: 10px;
    border: solid;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #F5D909;
    }
