

body {
    font-family: "Press Start 2P", system-ui !important;
}

.content {
    border-style: solid;
    height: auto;
}


.btn {
    font-family: 'Press Start 2P', system-ui;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: solid !important;
    position: relative;
}



* { 
    margin: 0px; 
    padding: 0px; 
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(355deg, #ff6e7c 0%, #ffb374 74%);
}

ul li {
    list-style: none; 
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffb374 !important; 
    z-index: 1000000000;
    opacity: 1; 
    overflow: hidden;  
    text-align: center; 
}

div.one {
    width: 8vmax; 
    height: 8vmax; 
    border-right: 4px solid white; 
    border-radius: 100%; 
    animation: spinRight 800ms linear infinite; 
}

    div.one:before,
    div.one:after {
        content: '';
        width: 6vmax;
        height: 6vmax;
        display: block; 
        position: absolute;
        top: calc(50% - 3vmax);
        left: calc(50% - 3vmax);
        border-left: 3px solid #000000;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
    }

    div.one:after {
        width: 4vmax;
        height: 4vmax;
        top: calc(50% - 2vmax);
        left: calc(50% - 2vmax);
        border: 0;
        border-right: 2px solid #757373;
        animation: none;
    }

@keyframes spinRight{
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); 
    }
}

.center{
    left: 50%;
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.start ul li:nth-child(1) {
    background: url(../images/process-top.png) top no-repeat !important; 
    padding-top: 180px !important; 
}

.start ul li:nth-child(odd) {
    background: url(../images/process-line-3.png) 65px top no-repeat;
    padding-top: 100px !important;
}

.start ul li:nth-child(even) {
    background: url(../images/process-line-2.png) 65px top no-repeat;
    padding-left: 590px; 
    padding-top: 100px !important;
}

.start ul li .icon {
    margin: 30px 0; 
    display: inline-block; 
    height: 124px; 
    margin-right: 30px;
    width: 124px;
    text-align: center; 
}

.start ul li h4 {
    text-transform: uppercase;
    font-size: 25px; 
}

.start ul li .media-body {
    max-width: 390px; 
}

.start ul li p {
    color: white; 
    text-shadow: 1px 1px 1px rgb(0,0,0);
}



img {
    width: 170px;
    height: 170px;
    margin-left: -30px;
    margin-top: -20px;
    border: black 3px;
    border-radius:50%;
}

.two img { 
    margin-left: -50px; 
    margin-top: -20px; 
}

.three img { 
    margin-left: -50px; 
}

.four img { 
    margin-left: -50px; 
}

.five img { 
    margin-left: -20px; 
    margin-top: -20px; 
}

.heading {
    color: white; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 2px rgb(0,0,0);
}



/* Customize Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FBEE8F;
    border-radius: 10px;
    border: solid;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #F5D909;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between; /* This will align the hamburger menu to the left and the sign-out button to the right */
        padding: 10px; /* Same as your navbar padding for alignment */
        position: relative; /* Relative to the content */
        z-index: 10; /* Higher than the content but lower than the fixed navbar */
    }


.category {
    display: inline-block;
    border: dotted black;
    padding: 10px;
    color: white;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 2px 3px rgb(0,0,0);
}

.lifestyle-category {
    background-color: lightblue;
}

.education-category {
    background-color: lightgreen;
}

.work-category {
    background-color: rgb(224, 190, 248);
}

.fitness-category {
    background-color: rgb(232, 232, 165);

}

.other-category {
    background-color: #fab8e1;
}

.goal-container {
    display: flex;
    justify-content: space-between; /* Aligns children on opposite ends */
    align-items: center; /* Centers children vertically */
    padding: 20px; /* Add padding as necessary */
}

.goal-details {
    /* This contains the goal title, description, and category tag */
    flex-grow: 1; /* Allows this div to grow and take up space as needed */
}

.goal-info-box {
    display: flex;
    align-items: center; /* Aligns the text and image vertically */
    background-color: #ffffff; /* Background color of the box */
    border: dashed;
    padding: 10px;
    border-radius: 8px; 
}

.goal-info-box div {
    display: block; /* This ensures the p tags are displayed as block elements */
}

.owner-title {
    margin: 0; /* Removes default margin to tighten spacing */
    font-size: 20px; /* Adjust font size as necessary */
    margin-right: 10px;
}

.owner-name {
    margin: 0; /* Removes default margin to tighten spacing */
    font-size: 14px; /* Adjust font size as necessary */
}

.goal-info-box img {
    width: 130px; /* Set image size */
    height: 130px; /* Set image size */
    margin: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between; /* Ensures spacing between the two containers */
    align-items: start; /* Aligns items at the top of the container */
    padding: 20px;
}

.new-box {
    flex: 1; /* Takes up 1 part of the available space */
    padding: 10px;
    margin-right: 20px; /* Adds some space between the new box and the timeline */
    border-radius: 8px;
    border: solid;
}

.timeline-container {
    flex: 2; /* Takes up 2 parts of the available space, making it larger than the new box */
    padding: 10px;
    border-radius: 8px;
    border: dashed;
}

.top-bar {
    background-color: white; /* Example: a nice blue color */
    color: black; /* White text color */
    padding: 10px 15px; /* Padding inside the bar */
    font-size: 16px; /* Larger text size */
    border-top-left-radius: 8px; /* Match the border-radius of the box */
    border-top-right-radius: 8px; /* Match the border-radius of the box */
    border: solid;
}


.new-box > p, .timeline-container > p {
    padding: 10px 15px; /* Apply padding to the content inside the box */
}


.new-box ul li p {
    font-size: large; 
}

.user-list ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes padding */
    padding-top: 25px; 

}

.user-list li {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: start; /* Aligns items to the start of the li */
    padding: 10px; /* Adds padding inside each li */
    padding-left: 50px;
}

.user-list img {
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    margin-right: 10px; /* Space between image and username */
    border-radius: 50%; /* Makes the image circular */
}